.news-component{
    display: flex;
    height: fit-content;
    width: 90vw;
    background-color: rebeccapurple;
    margin: auto;
    padding: 20px;
    flex-direction: column;
    padding: 10px;
}
.maindivnews h1{
    text-align: center;
    margin: 20px;
    color: white;
}

.content-part{
    padding: 10px;
}