.topportContainer {
    margin-top: 16vh;
    text-align: center;
}

.profNwall{
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    justify-content: space-between;
   right:20px;
   margin: 20px;
   padding: 20px;
   flex-wrap: wrap;
}
.profNwall img{
    margin: 10px;
}
.profNwall img:hover{
   cursor: pointer;
}

@media (max-width:500px) {
    .profNwall{
        justify-content: center;
    }
}