.topportContainer {
    margin-top: 40px;
    text-align: center;
}

.drop-entity{
    position: relative;
    bottom: 12px;
    /* text-decoration: none; */
    color: black;
}
.up-arrow {
    position: relative;
    width: 0;
    height: 0;
    left: 38px;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 16px solid antiquewhite;
    bottom: 15px;
    }

#dropdown{
    display: none;
    /* height: 60px; */
    position: absolute;
    /* left: 50px; */
    /* bottom: -6px; */
    background: antiquewhite;
    /* margin-bottom: 10px; */
    top: 80px;
    /* width: 150px; */
    padding: 2px;
    border-radius: 10px 10px 10px 10px;
}
#dropdown a{
    text-decoration: none;
    color: black;
}

.withdraw{
    width: 100px;
    height: 30px;
    /* display: inline; */
    margin-bottom: 10px;
    /* color: blueviolet; */
    background-color:green;
    border-radius: 30px;
}
.transact{
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.profNwall{
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    justify-content: space-between;
   right:20px;
   margin: auto;
   padding: 20px;
   flex-wrap: wrap;
   width:85%;
}
.profNwall img{
    margin-bottom: 10px;
    border: 5px solid rgba(0,0,255,1);
    padding: 5px;
    width: 80px;
    height: 80px;
    animation:ringcolor 1s linear infinite;
}
.profNwall img:hover{
   cursor: pointer;
}

@media (max-width:500px) {
    .profNwall{
        justify-content: center;
    }
}



@keyframes ringcolor {
    0%{

          border-color: rgba(0,0,255,1);
    }
    50%{
            border-color: rgba(0,0,255,0.6);
        }
        100%{
                border-color: rgba(0,0,255,0.5);
    }
}



.Transactions h1{
       text-align: center;
       margin: 20px;
}
.Transactions{
    padding: 20px;
}
