.transactionCard{
    display: flex;
    justify-content: space-between;
    /* border: 5px solid blue; */
    border-radius: 10px;
    margin: 2px;
    color: white;
    background: rgb(63,94,251);
background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
/* background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%); */
}
.transactionCard:hover{
   background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%); 
}

.Transactionslist{
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: auto;
}

.transactItem{
   width: 20%;
   overflow-x: auto;
   margin: 5px;
   padding: 5px;
}

@media (max-width:500px) {
    .transactionCard{
        flex-direction: column;
    }
    .transactItem{
        width: 100%;
        padding: 0;
    }

}