.navbar {
    padding: 0;
    margin: 0;
}

.maindivNav{
    height: 12vh;
}

nav {
    top: 0;
    position: fixed;
    display: flex;
    z-index: 50;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(58, 58, 58);
    padding: 5px 5px;
    color: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0, 0.06);
    font-family: 'Kanit', sans-serif;
    width: 100%;
    height: 12vh;
}
#navlist_small{
    position: absolute;
    top: 12vh;
    width: 100vw;
    background-color:rgba(58, 58, 58,.95);;
    /* height: 100vh; */
    left: 0;
}

.logoAndOptions {
    display: flex;
    align-items: center;
    justify-content: center;
   margin-left: 4%;
}
.navitems{
    list-style: none;
    margin: 50px;
        display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 0;
}
.navitems li {
    margin: 10px;
}


#main_logo_andname {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 185px;
    /* margin-right: 5vw; */
}


#companyname {
    font-size: 2.9vh;
    width: 130px;
    /* padding-left: 10px; */
}

#nav_list_div {
    display: flex;
    align-items: center;
    width: 100%;
    /* justify-content: center; */
    justify-content: space-between;
    /* width: 25vw; */
}

#nav_list {
    /* width: 25vw; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and(max-width:700px) {
    #nav_list {
        max-width: 20vw;
        flex-direction: row;
    }
}

.nav_items {
    color: white;
    text-decoration: none;
    font-size: 1.3rem;
}

#searchbox {
    /* padding-top: 10px ; */
    margin: auto 0px;
    height: 2.4rem;
    border-radius: 20px;
    /* margin-right: 2%; */
}

#login a {
    font-size: 2.2vh;
    color: white;
    text-decoration: none;
}

#login {
    /* padding: 1.2% 4% 1.2% 4%; */
    margin-left: 3%;
    margin-right: 3%;
    border: 2px solid white;
    border-radius: 12px;
   width: 85px;
   height: 40px; 
   margin: 10px;
}

#signup a {
    font-size: 2.2vh;
    color: white;
    text-decoration: none;
}

#logout a {
    font-size: 1.3rem;
    color: white;
    text-decoration: none;
}

#signup {
    /* padding: 1.2% 4% 1.2% 4%; */
    margin-left: 3%;
    margin-right: 3%;
    border: 2px solid white;
    border-radius: 12px;
    width: 85px;
   height: 40px; 
   margin: 10px;
}

#logout {
    padding: 1.2% 4% 1.2% 4%;
    margin-left: 3%;
    margin-right: 3%;
    border: 2px solid white;
    border-radius: 12px;
    width: 85px;
   height: 40px; 
   margin: 10px;
}
.first{
    display: flex;
}

.searchAndBtns {
    display: flex;
    /* align-items: center; */
    /* justify-content: space-between; */
    /* width: 30vw; */
    text-align: center;
}

.active-search {
    display: flex;
    flex-direction: column;
}

.autocom-box{
    z-index: 55;
    position: fixed;
    top: 10vh;
    background-color: aliceblue;
    /* padding: 20px; */
    border-radius: 5px;
    max-height: 50vh;
    overflow: auto;
    width: 200px;
}

.stock-name{
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(58,45,253,0.4823179271708683) 100%);
    margin: 5px;
    display: flex;
    border-bottom: solid 1px grey;
    justify-content: space-between;
    color: black;
    padding: 2px;

}
.stock-name:hover{
    background-color:rgba(34,193,195,0);
    background: linear-gradient(0deg, rgba(34,193,195,0.1) 0%, rgba(58,45,253,0.4823179271708683) 100%);

}

.stock-name:hover{
    cursor: pointer;
}

#nav_list {
    padding-top: 10px;
    display: flex;

    align-items: center;
}

#nav_list li {
    list-style: none;
    padding: 0 1vw;
}

.nav_items {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}

#main_logo_andname {
    display: flex;
    align-items: center;
}

#companyname {
    font-size: 2rem;
    padding-left: 10px;
}

#searchbox {
    padding-top: 10px ;
    margin: auto 0px;
    height: 2.4rem;
    border-radius: 20px;
    margin-right: 2%;
    outline: none;
}

#login a {
    font-size: 1.3rem;
    color: white;
    text-decoration: none;
}
#signup a {
    font-size: 1.3rem;
    color: white;
    text-decoration: none;
}
#login {
    /* padding:1.2% 4% 1.2% 4%;  */
    margin-left: 3%;
    margin-right: 3%;
    border: 2px solid white;
    border-radius: 12px;
    width: 120px;
}
#signup {
    /* padding:1.2% 4% 1.2% 4%;  */
    margin-left: 3%;
    margin-right: 3%;
    border: 2px solid white;
    border-radius: 12px;
    width: 120px;
}
/* 
.searchResults{
    
    display: flex;
    flex-direction: column;
    text-decoration: none;
    z-index: 5;
    background-color: rgb(181, 210, 236);
    height: 50vh;
}

.searchResult{
    background-color: rgb(127, 156, 181);
    color: black;
    font-size: 72px;;
}
*/
@media (max-width:800px) {
    #nav_list_div{
        display:none;
    }
    
}

.searchAndResults{
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.searchAndResults img{
    width: 20px;
    height: 20px;
    position: relative;
}

@media (max-width:800px) {
    .autocom-box{
        top: 22vh;
        max-height: 31vh;
    }
    .navitems{
        margin: 0;
        padding: 0;
    }
}